<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html, #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=FCWt5alKkczvZGUrRkIjuloIw6sSheMD"></script>
    {load href="/static/manage/js/jquery-1.8.1.min.js" /}
    {load href="/static/manage/js/jquery.form.js" /}
    <title>地图展示</title>
</head>
<body>
<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例


    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes: [
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]
    }));
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function (r) {
        if (this.getStatus() == BMAP_STATUS_SUCCESS) {
            map.centerAndZoom(r.point, 13);
        }
        else {
            alert('failed' + this.getStatus());
        }
    }, {enableHighAccuracy: true});
    var address = $('#address', parent.document).val();
    // 创建地址解析器实例
    var myGeo = new BMap.Geocoder();
    if (address.replace(/ /g, '') != '') {
        // 将地址解析结果显示在地图上,并调整地图视野
        myGeo.getPoint(address, function (point) {
            if (point) {
                map.centerAndZoom(point, 18);
                map.addOverlay(new BMap.Marker(point));
            } else {
                console.log("您选择地址没有解析到结果!");
            }
        });
    }

    //单击获取点击的经纬度
    map.addEventListener("click", function (e) {
        point = new BMap.Point(e.point.lng, e.point.lat);
        $('#point input', parent.document).eq(0).val(point.lat);
        $('#point input', parent.document).eq(1).val(point.lng);
        map.clearOverlays();
        map.addOverlay(new BMap.Marker(point));
        myGeo.getLocation(e.point, function (res) {
            var addComp = res.addressComponents;
            var address = '';
            address += addComp.province;
            address += addComp.city;
            address += addComp.district;
            address += addComp.street;
            address += addComp.streetNumber;
            $('#address', parent.document).val(address);
            var convertor = new BMap.Convertor();
            return;
            var points=[];
            points.push(e.point);
            convertor.translate(points, 5, 1, function (data) {
                console.log(data);
                if (data.status === 0) {
                    point = data.points[0];
                    $('#point input', parent.document).eq(0).val(point.lat);
                    $('#point input', parent.document).eq(1).val(point.lng);
//                    map.addOverlay(new BMap.Marker());
                }
            });
            console.log(point);
        });
    });

</script>
