{"swagger":"2.0","info":{"description":"APP \u63a5\u53e3\u670d\u52a1","version":"1.0.0","title":"\uff3bAPP\uff3d\u63a5\u53e3\u7ba1\u7406"},"host":"my.admin:80","basePath":"","tags":[{"name":"api","description":"\u652f\u4ed8\u76f8\u5173\r"},{"name":"cailiao","description":"\u6750\u6599\u4f9b\u5e94\u63a5\u53e3\r"},{"name":"huati","description":"\u53d1\u73b0\u6a21\u5757\u63a5\u53e3\r"},{"name":"job","description":"\u804c\u573a\u62db\u8058\r"},{"name":"login","description":"\u767b\u5f55\u6ce8\u518c\r"},{"name":"member","description":"\u7528\u6237\u76f8\u5173\u63a5\u53e3\r"},{"name":"pay","description":"\u652f\u4ed8\u76f8\u5173\r"},{"name":"question","description":"\u5e38\u89c1\u95ee\u9898\r"},{"name":"xiangmu","description":"\u9879\u76ee\u5728\u7ebf\r"},{"name":"xitong","description":"\u7cfb\u7edf\u57fa\u672c\u529f\u80fd\r"},{"name":"xuetang","description":"\u5b66\u5802\u6a21\u5757\u63a5\u53e3\r"}],"schemes":["http"],"paths":{"gysLists\r":[],"\/apis\/cailiao\/gysLists\r":{"get":{"tags":["cailiao"],"summary":"\u83b7\u53d6\u4f9b\u5e94\u5546\u5217\u8868\r","description":"","operationId":"gysLists\r","produces":["application\/json"],"parameters":[{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"zlsLists\r":[],"\/apis\/cailiao\/zlsLists\r":{"get":{"tags":["cailiao"],"summary":"\u83b7\u53d6\u79df\u8d41\u5546\u5217\u8868\r","description":"","operationId":"zlsLists\r","produces":["application\/json"],"parameters":[{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"renzheng\r":[],"\/apis\/cailiao\/renzheng\r":{"post":{"tags":["cailiao"],"summary":"\u4f9b\u5e94\u5546\u3001\u79df\u8d41\u5546\u8ba4\u8bc1\r","description":"","operationId":"renzheng\r","produces":["application\/json"],"parameters":[{"name":"company_name","in":"formData","required":true,"description":"\u516c\u53f8\u59d3\u540d\r\n     ","type":"string"},{"name":"contact","in":"formData","required":true,"description":"\u8054\u7cfb\u7535\u8bdd\r\n     ","type":"string"},{"name":"legal_person","in":"formData","required":true,"description":"\u6cd5\u4eba\u59d3\u540d\r\n     ","type":"string"},{"name":"address","in":"formData","required":true,"description":"\u516c\u53f8\u5730\u5740\r\n     ","type":"string"},{"name":"qq_email","in":"formData","required":true,"description":"QQ\u90ae\u7bb1\r\n     ","type":"string"},{"name":"supply_address","in":"formData","required":true,"description":"\u4f9b\u5e94\u5730\u5740\r\n     ","type":"string"},{"name":"supply_specialty","in":"formData","required":true,"description":"\u4f9b\u5e94\u4e13\u4e1a\r\n     ","type":"string"},{"name":"supply_type","in":"formData","required":true,"description":"\u4f9b\u5e94\u7c7b\u522b\r\n     ","type":"string"},{"name":"brand","in":"formData","required":true,"description":"\u54c1\u724c\r\n     ","type":"string"},{"name":"idcard_front","in":"formData","required":true,"description":"\u8eab\u4efd\u8bc1\u6b63\u9762\u7167\r\n     ","type":"string"},{"name":"idcard_back","in":"formData","required":true,"description":"\u8eab\u4efd\u8bc1\u53cd\u9762\u7167\r\n     ","type":"string"},{"name":"license","in":"formData","required":true,"description":"\u8425\u4e1a\u6267\u7167\r\n     ","type":"string"}]}},"gsDetails\r":[],"\/apis\/cailiao\/gsDetails\r":{"get":{"tags":["cailiao"],"summary":"\u83b7\u53d6\u516c\u53f8\u8be6\u60c5\r","description":"","operationId":"gsDetails\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u516c\u53f8ID\r\n     ","type":"integer"},{"name":"uid","in":"query","required":true,"description":"\u516c\u53f8UID\r\n     ","type":"integer"}]}},"oldPrice\r":[],"\/apis\/cailiao\/oldPrice\r":{"get":{"tags":["cailiao"],"summary":"\u83b7\u53d6\u5386\u53f2\u4ef7\u4f4d\r","description":"","operationId":"oldPrice\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u6750\u6599ID\r\n     ","type":"integer"}]}},"lists\r":[],"\/apis\/huati\/lists\r":{"get":{"tags":["huati"],"summary":"\u83b7\u53d6\u8bdd\u9898\u5217\u8868\r","description":"","operationId":"lists\r","produces":["application\/json"],"parameters":[{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"},{"name":"htid","in":"query","required":true,"description":"\u6240\u5c5e\u8bdd\u9898ID[\u9009\u586b]\r\n     ","type":"integer"}]}},"comment\r":[],"\/apis\/huati\/comment\r":{"get":{"tags":["huati"],"summary":"\u83b7\u53d6\u8bdd\u9898\u8be6\u60c5+\u56de\u590d\r","description":"","operationId":"comment\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u8bdd\u9898ID\r\n     ","type":"integer"}]}},"add\r":[],"\/apis\/huati\/add\r":{"post":{"tags":["huati"],"summary":"\u6dfb\u52a0\u8bdd\u9898\r","description":"","operationId":"add\r","produces":["application\/json"],"parameters":[{"name":"id","in":"formData","required":true,"description":"\u8bdd\u9898ID\r\n     ","type":"integer"}]}},"delHuati\r":[],"\/apis\/huati\/delHuati\r":{"get":{"tags":["huati"],"summary":"\u5220\u9664\u8bdd\u9898\r","description":"","operationId":"delHuati\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u8bdd\u9898ID\r\n     ","type":"integer"}]}},"addComment\r":[],"\/apis\/huati\/addComment\r":{"get":{"tags":["huati"],"summary":"\u53d1\u8868\u56de\u590d\r","description":"","operationId":"addComment\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u8bdd\u9898ID\r\n     ","type":"integer"}]}},"delComment\r":[],"\/apis\/huati\/delComment\r":{"get":{"tags":["huati"],"summary":"\u5220\u9664\u56de\u590d\r","description":"","operationId":"delComment\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u8bc4\u8bbaID\r\n     ","type":"integer"}]}},"zan\r":[],"\/apis\/huati\/zan\r":{"get":{"tags":["huati"],"summary":"\u70b9\u8d5e\r","description":"","operationId":"zan\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u8bdd\u9898ID\r\n     ","type":"integer"}]}},"zanDel\r":[],"\/apis\/huati\/zanDel\r":{"get":{"tags":["huati"],"summary":"\u53d6\u6d88\u70b9\u8d5e\r","description":"","operationId":"zanDel\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u8bdd\u9898ID\r\n     ","type":"integer"}]}},"rmht\r":[],"\/apis\/huati\/rmht\r":{"get":{"tags":["huati"],"summary":"\u70ed\u95e8\u8bdd\u9898\r","description":"","operationId":"rmht\r","produces":["application\/json"],"parameters":[]}},"jobList\r":[],"\/apis\/job\/jobList\r":{"get":{"tags":["job"],"summary":"\u804c\u4f4d\u5217\u8868\r","description":"","operationId":"jobList\r","produces":["application\/json"],"parameters":[{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"jobDetails\r":[],"\/apis\/job\/jobDetails\r":{"get":{"tags":["job"],"summary":"\u804c\u4f4d\u8be6\u60c5\r","description":"","operationId":"jobDetails\r","produces":["application\/json"],"parameters":[]}},"jobJianli\r":[],"\/apis\/job\/jobJianli\r":{"get":{"tags":["job"],"summary":"\u6211\u7684\u7b80\u5386\r","description":"","operationId":"jobJianli\r","produces":["application\/json"],"parameters":[]}},"\/apis\/job\/renzheng\r":{"post":{"tags":["job"],"summary":"\u4f01\u4e1a\u8ba4\u8bc1\r","description":"","operationId":"renzheng\r","produces":["application\/json"],"parameters":[{"name":"company_name","in":"formData","required":true,"description":"\u516c\u53f8\u59d3\u540d\r\n     ","type":"string"},{"name":"contact","in":"formData","required":true,"description":"\u8054\u7cfb\u7535\u8bdd\r\n     ","type":"string"},{"name":"address","in":"formData","required":true,"description":"\u516c\u53f8\u5730\u5740\r\n     ","type":"string"},{"name":"legal_person","in":"formData","required":true,"description":"\u6cd5\u4eba\u59d3\u540d\r\n     ","type":"string"},{"name":"qq_email","in":"formData","required":true,"description":"QQ\u90ae\u7bb1\r\n     ","type":"string"},{"name":"idcard_front","in":"formData","required":true,"description":"\u8eab\u4efd\u8bc1\u6b63\u9762\u7167\r\n     ","type":"string"},{"name":"idcard_back","in":"formData","required":true,"description":"\u8eab\u4efd\u8bc1\u53cd\u9762\u7167\r\n     ","type":"string"},{"name":"license","in":"formData","required":true,"description":"\u8425\u4e1a\u6267\u7167\r\n     ","type":"string"}]}},"jobJlDetail\r":[],"\/apis\/job\/jobJlDetail\r":{"get":{"tags":["job"],"summary":"\u7b80\u5386\u8be6\u60c5\r","description":"","operationId":"jobJlDetail\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u7b80\u5386ID\r\n     ","type":"integer"}]}},"addResume\r":[],"\/apis\/job\/addResume\r":{"post":{"tags":["job"],"summary":"\u7f16\u8f91\/\u6dfb\u52a0\u7b80\u5386\r","description":"","operationId":"addResume\r","produces":["application\/json"],"parameters":[{"name":"name","in":"formData","required":true,"description":"\u59d3\u540d\r\n     ","type":"string"},{"name":"sex","in":"formData","required":true,"description":"\u6027\u522b[1:\u75372:\u5973]\r\n     ","type":"integer"},{"name":"age","in":"formData","required":true,"description":"\u5e74\u9f84\r\n     ","type":"integer"},{"name":"work_years","in":"formData","required":true,"description":"\u5de5\u4f5c\u65f6\u95f4\r\n     ","type":"integer"},{"name":"mobile","in":"formData","required":true,"description":"\u8054\u7cfb\u7535\u8bdd\r\n     ","type":"integer"},{"name":"shanchang","in":"formData","required":true,"description":"\u64c5\u957f\u7c7b\u578b[\u9009\u586b]\r\n     ","type":"string"},{"name":"email","in":"formData","required":true,"description":"\u90ae\u7bb1\u5730\u5740\r\n     ","type":"string"},{"name":"company","in":"formData","required":true,"description":"\u73b0\u5728\u4efb\u804c\u516c\u53f8[\u9009\u586b]\r\n     ","type":"string"},{"name":"zhiwei","in":"formData","required":true,"description":"\u73b0\u5728\u4efb\u804c\u804c\u4f4d[\u9009\u586b]\r\n     ","type":"string"},{"name":"zhicheng","in":"formData","required":true,"description":"\u6240\u83b7\u804c\u79f0[\u9009\u586b]\r\n     ","type":"string"},{"name":"education","in":"formData","required":true,"description":"\u6700\u9ad8\u6559\u80b2\u7ecf\u5386\r\n     ","type":"string"}]}},"delResume\r":[],"\/apis\/job\/delResume\r":{"get":{"tags":["job"],"summary":"\u5220\u9664\u7b80\u5386\r","description":"","operationId":"delResume\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u7b80\u5386ID\r\n     ","type":"integer"}]}},"setResumeDefault\r":[],"\/apis\/job\/setResumeDefault\r":{"get":{"tags":["job"],"summary":"\u8bbe\u7f6e\u9ed8\u8ba4\u7b80\u5386\r","description":"","operationId":"setResumeDefault\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u7b80\u5386ID\r\n     ","type":"integer"}]}},"delHistory\r":[],"\/apis\/job\/delHistory\r":{"get":{"tags":["job"],"summary":"\u5220\u9664\u5de5\u4f5c\u7ecf\u5386\r","description":"","operationId":"delHistory\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u5de5\u4f5c\u7ecf\u5386ID\r\n     ","type":"integer"}]}},"workHistory\r":[],"\/apis\/job\/workHistory\r":{"post":{"tags":["job"],"summary":"\u7f16\u8f91\u5de5\u4f5c\u7ecf\u5386(\u66f4\u65b0\u3001\u6dfb\u52a0)\r","description":"","operationId":"workHistory\r","produces":["application\/json"],"parameters":[{"name":"company_name","in":"formData","required":true,"description":"\u516c\u53f8\u540d\u79f0\r\n     ","type":"string"},{"name":"zhiwei","in":"formData","required":true,"description":"\u804c\u4f4d\r\n     ","type":"string"},{"name":"start_time","in":"formData","required":true,"description":"\u5f00\u59cb\u65f6\u95f4\r\n     ","type":"string"},{"name":"end_time","in":"formData","required":true,"description":"\u622a\u6b62\u65f6\u95f4\r\n     ","type":"string"}]}},"jobHistory\r":[],"\/apis\/job\/jobHistory\r":{"get":{"tags":["job"],"summary":"\u804c\u4f4d\u7533\u8bf7\u8bb0\u5f55\r","description":"","operationId":"jobHistory\r","produces":["application\/json"],"parameters":[{"name":"status","in":"query","required":true,"description":"1:\u9762\u8bd5\u9080\u8bf70:\u5168\u90e8\r\n     ","type":"integer"},{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"checkUserMobile\r":[],"\/apis\/login\/checkUserMobile\r":{"post":{"tags":["login"],"summary":"\u7528\u6237\u6ce8\u518c\u68c0\u6d4b\u624b\u673a\u53f7\u662f\u5426\u5b58\u5728\r","description":"","operationId":"checkUserMobile\r","produces":["application\/json"],"parameters":[{"name":"phone","in":"formData","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"}]}},"checkQiyeMobile\r":[],"\/apis\/login\/checkQiyeMobile\r":{"post":{"tags":["login"],"summary":"\u4f01\u4e1a\u6ce8\u518c\u68c0\u6d4b\u624b\u673a\u53f7\u662f\u5426\u5b58\u5728\r","description":"","operationId":"checkQiyeMobile\r","produces":["application\/json"],"parameters":[{"name":"phone","in":"formData","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"}]}},"userLogin\r":[],"\/apis\/login\/userLogin\r":{"post":{"tags":["login"],"summary":"\u7528\u6237\u767b\u5f55\r","description":"","operationId":"userLogin\r","produces":["application\/json"],"parameters":[{"name":"phone","in":"formData","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"},{"name":"password","in":"formData","required":true,"description":"\u767b\u5f55\u5bc6\u7801\r\n     ","type":"string"}]}},"qiyeLogin\r":[],"\/apis\/login\/qiyeLogin\r":{"post":{"tags":["login"],"summary":"\u4f01\u4e1a\u767b\u5f55\r","description":"","operationId":"qiyeLogin\r","produces":["application\/json"],"parameters":[{"name":"phone","in":"formData","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"},{"name":"password","in":"formData","required":true,"description":"\u767b\u5f55\u5bc6\u7801\r\n     ","type":"string"}]}},"sendSmsCode\r":[],"\/apis\/login\/sendSmsCode\r":{"get":{"tags":["login"],"summary":"\u53d1\u9001\u77ed\u4fe1\u9a8c\u8bc1\u7801\r","description":"","operationId":"sendSmsCode\r","produces":["application\/json"],"parameters":[{"name":"phone","in":"query","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"}]}},"checkSmsCode\r":[],"\/apis\/login\/checkSmsCode\r":{"get":{"tags":["login"],"summary":"\u9a8c\u8bc1\u77ed\u4fe1\u9a8c\u8bc1\u7801\r","description":"","operationId":"checkSmsCode\r","produces":["application\/json"],"parameters":[{"name":"phone","in":"query","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"},{"name":"code","in":"query","required":true,"description":"\u9a8c\u8bc1\u7801\r\n     ","type":"integer"}]}},"qiyeRegister\r":[],"\/apis\/login\/qiyeRegister\r":{"post":{"tags":["login"],"summary":"\u4f01\u4e1a\u6ce8\u518c\r","description":"","operationId":"qiyeRegister\r","produces":["application\/json"],"parameters":[{"name":"password","in":"formData","required":true,"description":"\u5bc6\u7801\r\n     ","type":"string"},{"name":"password1","in":"formData","required":true,"description":"\u9a8c\u8bc1\u5bc6\u7801\r\n     ","type":"string"},{"name":"phone","in":"formData","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"},{"name":"code","in":"formData","required":true,"description":"\u77ed\u4fe1\u9a8c\u8bc1\u7801\r\n     ","type":"string"}]}},"userRegister\r":[],"\/apis\/login\/userRegister\r":{"post":{"tags":["login"],"summary":"\u7528\u6237\u6ce8\u518c\r","description":"","operationId":"userRegister\r","produces":["application\/json"],"parameters":[{"name":"password","in":"formData","required":true,"description":"\u5bc6\u7801\r\n     ","type":"string"},{"name":"password1","in":"formData","required":true,"description":"\u9a8c\u8bc1\u5bc6\u7801\r\n     ","type":"string"},{"name":"phone","in":"formData","required":true,"description":"\u624b\u673a\u53f7\r\n     ","type":"string"},{"name":"code","in":"formData","required":true,"description":"\u77ed\u4fe1\u9a8c\u8bc1\u7801\r\n     ","type":"string"}]}},"profile\r":[],"\/apis\/member\/profile\r":{"post":{"tags":["member"],"summary":"\u83b7\u53d6\/\u4fee\u6539\u7528\u6237\u4e2a\u4eba\u8d44\u6599\r","description":"","operationId":"profile\r","produces":["application\/json"],"parameters":[{"name":"avatar","in":"formData","required":true,"description":"\u5934\u50cf[\u9009\u586b]\r\n     ","type":"string"},{"name":"nickname","in":"formData","required":true,"description":"\u6635\u79f0[\u9009\u586b]\r\n     ","type":"string"},{"name":"sex","in":"formData","required":true,"description":"\u6027\u522b 1\u75372\u5973\r\n     ","type":"integer"},{"name":"birthday","in":"formData","required":true,"description":"\u751f\u65e5\uff0c\u683c\u5f0f\uff1a0000-00-00[\u9009\u586b]\r\n     ","type":"string"}]}},"\/apis\/member\/renzheng\r":{"post":{"tags":["member"],"summary":"\u4e2a\u4eba\u8ba4\u8bc1\r","description":"","operationId":"renzheng\r","produces":["application\/json"],"parameters":[{"name":"name","in":"formData","required":true,"description":"\u771f\u5b9e\u59d3\u540d\r\n     ","type":"string"},{"name":"idcard_no","in":"formData","required":true,"description":"\u8eab\u4efd\u8bc1\u53f7\r\n     ","type":"string"},{"name":"front_img","in":"formData","required":true,"description":"\u8eab\u4efd\u8bc1\u6b63\u9762\u7167\r\n     ","type":"string"},{"name":"back_img","in":"formData","required":true,"description":"\u8eab\u4efd\u8bc1\u53cd\u9762\u7167\r\n     ","type":"string"}]}},"setNickname\r":[],"\/apis\/member\/setNickname\r":{"post":{"tags":["member"],"summary":"\u8bbe\u7f6e\u6635\u79f0\r","description":"","operationId":"setNickname\r","produces":["application\/json"],"parameters":[{"name":"nickname","in":"formData","required":true,"description":"\u6635\u79f0\r\n     ","type":"string"}]}},"changePassword\r":[],"\/apis\/member\/changePassword\r":{"post":{"tags":["member"],"summary":"\u4fee\u6539\u5bc6\u7801\r","description":"","operationId":"changePassword\r","produces":["application\/json"],"parameters":[{"name":"password","in":"formData","required":true,"description":"\u539f\u59cb\u5bc6\u7801\r\n     ","type":"string"},{"name":"password1","in":"formData","required":true,"description":"\u65b0\u5bc6\u7801\r\n     ","type":"string"},{"name":"password2","in":"formData","required":true,"description":"\u91cd\u590d\u65b0\u5bc6\u7801\r\n     ","type":"string"}]}},"changeMobile\r":[],"\/apis\/member\/changeMobile\r":{"post":{"tags":["member"],"summary":"\u4fee\u6539\u624b\u673a\u53f7\r","description":"","operationId":"changeMobile\r","produces":["application\/json"],"parameters":[{"name":"newPhone","in":"formData","required":true,"description":"\u65b0\u624b\u673a\u53f7\r\n     ","type":"integer"},{"name":"code","in":"formData","required":true,"description":"\u77ed\u4fe1\u9a8c\u8bc1\u7801\r\n     ","type":"integer"},{"name":"oldPhone","in":"formData","required":true,"description":"\u65e7\u624b\u673a\u53f7\r\n     ","type":"integer"}]}},"setting\r":[],"\/apis\/member\/setting\r":{"post":{"tags":["member"],"summary":"\u7528\u6237\u8bbe\u7f6e\r","description":"","operationId":"setting\r","produces":["application\/json"],"parameters":[{"name":"system_notice","in":"formData","required":true,"description":"\u7cfb\u7edf\u901a\u77e5[\u9009\u586b]\r\n     ","type":"integer"},{"name":"message_notice","in":"formData","required":true,"description":"\u6d88\u606f\u901a\u77e5[\u9009\u586b]\r\n     ","type":"integer"},{"name":"active_notice","in":"formData","required":true,"description":"\u6d3b\u52a8\u901a\u77e5[\u9009\u586b]\r\n     ","type":"integer"},{"name":"sound","in":"formData","required":true,"description":"\u63d0\u9192\u65b9\u5f0f\uff1a\u58f0\u97f3[\u9009\u586b]\r\n     ","type":"integer"},{"name":"shock","in":"formData","required":true,"description":"\u63d0\u9192\u65b9\u5f0f\uff1a\u9707\u52a8[\u9009\u586b]\r\n     ","type":"integer"}]}},"addFavorite\r":[],"\/apis\/member\/addFavorite\r":{"get":{"tags":["member"],"summary":"\u6dfb\u52a0\u6536\u85cf\r","description":"","operationId":"addFavorite\r","produces":["application\/json"],"parameters":[{"name":"itemid","in":"query","required":true,"description":"\u6536\u85cfID\r\n     ","type":"integer"}]}},"qxFavorite\r":[],"\/apis\/member\/qxFavorite\r":{"get":{"tags":["member"],"summary":"\u53d6\u6d88\u6536\u85cf\r","description":"","operationId":"qxFavorite\r","produces":["application\/json"],"parameters":[{"name":"itemid","in":"query","required":true,"description":"\u6536\u85cfID\r\n     ","type":"integer"}]}},"favorite\r":[],"\/apis\/member\/favorite\r":{"get":{"tags":["member"],"summary":"\u6211\u7684\u6536\u85cf\r","description":"","operationId":"favorite\r","produces":["application\/json"],"parameters":[{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"history\r":[],"\/apis\/member\/history\r":{"get":{"tags":["member"],"summary":"\u5386\u53f2\u8bb0\u5f55\r","description":"","operationId":"history\r","produces":["application\/json"],"parameters":[{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"myTopic\r":[],"\/apis\/member\/myTopic\r":{"get":{"tags":["member"],"summary":"\u6211\u7684\u5e7f\u573a\u53d1\u5e03\r","description":"","operationId":"myTopic\r","produces":["application\/json"],"parameters":[{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"myReply\r":[],"\/apis\/member\/myReply\r":{"get":{"tags":["member"],"summary":"\u6211\u7684\u56de\u590d\r","description":"","operationId":"myReply\r","produces":["application\/json"],"parameters":[{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"fankui\r":[],"\/apis\/member\/fankui\r":{"post":{"tags":["member"],"summary":"\u610f\u89c1\u53cd\u9988\r","description":"","operationId":"fankui\r","produces":["application\/json"],"parameters":[{"name":"type","in":"formData","required":true,"description":"\u95ee\u9898\u7c7b\u578b[1bug2\u4f53\u9a8c\u95ee\u98983\u65b0\u529f\u80fd\u5efa\u8bae4\u5176\u4ed6]\r\n     ","type":"integer"},{"name":"content","in":"formData","required":true,"description":"\u53cd\u9988\u5185\u5bb9\r\n     ","type":"text"},{"name":"image","in":"formData","required":true,"description":"\u95ee\u9898\u56fe\u7247[\u9009\u586b]\r\n     ","type":"string"}]}},"upload\r":[],"\/apis\/member\/upload\r":{"post":{"tags":["member"],"summary":"\u4e0a\u4f20\u56fe\u7247\r","description":"","operationId":"upload\r","produces":["application\/json"],"parameters":[{"name":"image","in":"formData","required":true,"description":"\u56fe\u7247\u6587\u4ef6\r\n     ","type":"file"}]}},"setPayPwd\r":[],"\/apis\/member\/setPayPwd\r":{"post":{"tags":["member"],"summary":"\u8bbe\u7f6e\u652f\u4ed8\u5bc6\u7801\r","description":"","operationId":"setPayPwd\r","produces":["application\/json"],"parameters":[{"name":"password","in":"formData","required":true,"description":"\u652f\u4ed8\u5bc6\u7801\r\n     ","type":"integer"}]}},"changePayPwd\r":[],"\/apis\/member\/changePayPwd\r":{"post":{"tags":["member"],"summary":"\u4fee\u6539\u652f\u4ed8\u5bc6\u7801\r","description":"","operationId":"changePayPwd\r","produces":["application\/json"],"parameters":[{"name":"name","in":"formData","required":true,"description":"\u59d3\u540d\r\n     ","type":"string"},{"name":"idCard","in":"formData","required":true,"description":"\u8eab\u4efd\u8bc1\u53f7\r\n     ","type":"string"},{"name":"password","in":"formData","required":true,"description":"\u652f\u4ed8\u5bc6\u7801\r\n     ","type":"integer"}]}},"tixian\r":[],"\/apis\/member\/tixian\r":{"post":{"tags":["member"],"summary":"\u63d0\u73b0\r","description":"","operationId":"tixian\r","produces":["application\/json"],"parameters":[{"name":"money","in":"formData","required":true,"description":"\u63d0\u73b0\u91d1\u989d\r\n     ","type":"string"},{"name":"id","in":"formData","required":true,"description":"\u63d0\u73b0\u5361\u53f7ID\r\n     ","type":"integer"}]}},"zhangdan\r":[],"\/apis\/member\/zhangdan\r":{"get":{"tags":["member"],"summary":"\u8d26\u5355\r","description":"","operationId":"zhangdan\r","produces":["application\/json"],"parameters":[{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"cardList\r":[],"\/apis\/member\/cardList\r":{"get":{"tags":["member"],"summary":"\u68c0\u6d4b\u652f\u4ed8\u5bc6\u7801\r","description":"","operationId":"cardList\r","produces":["application\/json"],"parameters":[{"name":"password","in":"query","required":true,"description":"\u652f\u4ed8\u5bc6\u7801\r\n     ","type":"integer"}]}},"addCard\r":[],"\/apis\/member\/addCard\r":{"post":{"tags":["member"],"summary":"\u6dfb\u52a0\u94f6\u884c\u5361\r","description":"","operationId":"addCard\r","produces":["application\/json"],"parameters":[{"name":"name","in":"formData","required":true,"description":"\u6301\u5361\u4eba\u59d3\u540d\r\n     ","type":"string"},{"name":"bank","in":"formData","required":true,"description":"\u94f6\u884c\u5361\u7c7b\u578b\r\n     ","type":"string"},{"name":"card_no","in":"formData","required":true,"description":"\u94f6\u884c\u5361\u53f7\r\n     ","type":"string"}]}},"delCard\r":[],"\/apis\/member\/delCard\r":{"get":{"tags":["member"],"summary":"\u5220\u9664\u94f6\u884c\u5361\r","description":"","operationId":"delCard\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u94f6\u884c\u5361ID\r\n     ","type":"integer"}]}},"alipay\r":[],"\/apis\/pay\/alipay\r":{"get":{"tags":["pay"],"summary":"\u652f\u4ed8\u5b9d\u652f\u4ed8\r","description":"","operationId":"alipay\r","produces":["application\/json"],"parameters":[{"name":"money","in":"query","required":true,"description":"\u91d1\u989d\r\n     ","type":"integer"},{"name":"type","in":"query","required":true,"description":"1\u4e3a\u8ba2\u5355\u6d88\u8d39,2\u4e3a\u5145\u503c\u7f34\u8d39\r\n     ","type":"integer"},{"name":"orderid","in":"query","required":true,"description":"type\u4e3a1\u65f6\u5fc5\u987b\r\n     ","type":"integer"}]}},"\/apis\/question\/lists\r":{"get":{"tags":["question"],"summary":"\u83b7\u53d6\u5e38\u89c1\u95ee\u9898\u5217\u8868\r","description":"","operationId":"lists\r","produces":["application\/json"],"parameters":[]}},"details\r":[],"\/apis\/question\/details\r":{"get":{"tags":["question"],"summary":"\u83b7\u53d6\u95ee\u9898\u8be6\u60c5\r","description":"","operationId":"details\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u95ee\u9898ID\r\n     ","type":"integer"}]}},"xmLists\r":[],"\/apis\/xiangmu\/xmLists\r":{"get":{"tags":["xiangmu"],"summary":"\u83b7\u53d6\u680f\u76ee\u5217\u8868\u4fe1\u606f\r","description":"","operationId":"xmLists\r","produces":["application\/json"],"parameters":[{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"xmDetails\r":[],"\/apis\/xiangmu\/xmDetails\r":{"get":{"tags":["xiangmu"],"summary":"\u83b7\u53d6\u9879\u76ee\u8be6\u60c5\r","description":"","operationId":"xmDetails\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u9879\u76eeID\r\n     ","type":"integer"}]}},"xmSearch\r":[],"\/apis\/xiangmu\/xmSearch\r":{"get":{"tags":["xiangmu"],"summary":"\u9879\u76ee\u641c\u7d22\r","description":"","operationId":"xmSearch\r","produces":["application\/json"],"parameters":[{"name":"leixing","in":"query","required":true,"description":"\u9879\u76ee\u7c7b\u578b [1:\u56fe\u7eb8\u4f1a\u5ba1,2:\u5de5\u7a0b\u9020\u4ef7,3:\u65b9\u6848\u63aa\u65bd,4:\u8d44\u6599\u5185\u9875,5:\u5408\u540c\u67e5\u8be2] [\u9009\u586b]\r\n     ","type":"integer"},{"name":"zhuanye","in":"query","required":true,"description":"\u9879\u76ee\u7c7b\u578b [1:\u571f\u6728\u5de5\u7a0b,2:\u56ed\u6797\u6280\u672f,3:\u8f68\u9053\u4ea4\u901a,4:\u673a\u68b0\u81ea\u52a8\u5316,5:\u6c7d\u8f66\u7ef4\u4fee] [\u9009\u586b]\r\n     ","type":"integer"},{"name":"sort","in":"query","required":true,"description":"\u6392\u5e8f [1:\u667a\u80fd\u6392\u5e8f,2:\u9884\u89c8\u6700\u591a,3:\u66f4\u65b0\u65f6\u95f4,4:\u85aa\u916c\u4ef7\u683c\u5347\u5e8f,5:\u85aa\u916c\u4ef7\u683c\u964d\u5e8f] [\u9009\u586b]\r\n     ","type":"integer"},{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"xmApply\r":[],"\/apis\/xiangmu\/xmApply\r":{"post":{"tags":["xiangmu"],"summary":"\u9879\u76ee\u7533\u8bf7\r","description":"","operationId":"xmApply\r","produces":["application\/json"],"parameters":[{"name":"project_id","in":"formData","required":true,"description":"\u9879\u76eeID\r\n     ","type":"integer"},{"name":"name","in":"formData","required":true,"description":"\u59d3\u540d\r\n     ","type":"string"},{"name":"mobile","in":"formData","required":true,"description":"\u8054\u7cfb\u7535\u8bdd\r\n     ","type":"string"},{"name":"address","in":"formData","required":true,"description":"\u6240\u5728\u5730\r\n     ","type":"string"},{"name":"start_time","in":"formData","required":true,"description":"\u9879\u76ee\u5f00\u59cb\u65f6\u95f4\r\n     ","type":"string"},{"name":"end_time","in":"formData","required":true,"description":"\u9879\u76ee\u7ed3\u675f\u65f6\u95f4\r\n     ","type":"string"},{"name":"resume_id","in":"formData","required":true,"description":"\u4e2a\u4eba\u7b80\u5386ID\r\n     ","type":"integer"}]}},"xmfb\r":[],"\/apis\/xiangmu\/xmfb\r":{"get":{"tags":["xiangmu"],"summary":"\u7528\u6237\u9879\u76ee\u53d1\u5e03\u5217\u8868\r","description":"","operationId":"xmfb\r","produces":["application\/json"],"parameters":[{"name":"status","in":"query","required":true,"description":"\u9879\u76ee\u72b6\u6001\uff1a[0\u5e26\u5339\u914d1\u53d6\u6d882\u5f85\u4ed8\u6b3e3\u5f85\u9a8c\u65364\u5b8c\u6210][\u4e0d\u4f20\u5219\u663e\u793a\u5168\u90e8]\r\n     ","type":"integer"},{"name":"tousu","in":"query","required":true,"description":"\u662f\u5426\u6295\u8bc9\uff1a[0\u9ed8\u8ba41\u662f]\uff0cstatus\u548ctousu\u53ea\u80fd\u5b58\u5728\u4e00\u4e2a\r\n     ","type":"integer"},{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"xmCancel\r":[],"\/apis\/xiangmu\/xmCancel\r":{"get":{"tags":["xiangmu"],"summary":"\u7528\u6237\u53d6\u6d88\u53d1\u5e03\r","description":"","operationId":"xmCancel\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u9879\u76eeID\r\n     ","type":"integer"}]}},"xmCancelApply\r":[],"\/apis\/xiangmu\/xmCancelApply\r":{"get":{"tags":["xiangmu"],"summary":"\u7528\u6237\u53d6\u6d88\u7533\u8bf7\r","description":"","operationId":"xmCancelApply\r","produces":["application\/json"],"parameters":[{"name":"project_id","in":"query","required":true,"description":"\u9879\u76eeID\r\n     ","type":"integer"}]}},"xmRefresh\r":[],"\/apis\/xiangmu\/xmRefresh\r":{"get":{"tags":["xiangmu"],"summary":"\u9879\u76ee\u53d1\u5e03\u8005\u91cd\u65b0\u5339\u914d\r","description":"","operationId":"xmRefresh\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u9879\u76eeID\r\n     ","type":"integer"}]}},"xmChoose\r":[],"\/apis\/xiangmu\/xmChoose\r":{"get":{"tags":["xiangmu"],"summary":"\u9879\u76ee\u53d1\u5e03\u8005\u9009\u62e9\u5408\u4f5c\r","description":"","operationId":"xmChoose\r","produces":["application\/json"],"parameters":[{"name":"sqr","in":"query","required":true,"description":"\u9879\u76ee\u7533\u8bf7\u4ebaUID\r\n     ","type":"integer"},{"name":"project_id","in":"query","required":true,"description":"\u9879\u76eeID\r\n     ","type":"integer"}]}},"xmYanshou\r":[],"\/apis\/xiangmu\/xmYanshou\r":{"get":{"tags":["xiangmu"],"summary":"\u9879\u76ee\u53d1\u5e03\u8005\u786e\u8ba4\u9a8c\u6536\r","description":"","operationId":"xmYanshou\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u9879\u76eeID\r\n     ","type":"integer"}]}},"xmJindu\r":[],"\/apis\/xiangmu\/xmJindu\r":{"get":{"tags":["xiangmu"],"summary":"\u9879\u76ee\u8fdb\u5ea6\r","description":"","operationId":"xmJindu\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u9879\u76eeID\r\n     ","type":"integer"}]}},"xmSqLists\r":[],"\/apis\/xiangmu\/xmSqLists\r":{"get":{"tags":["xiangmu"],"summary":"\u7528\u6237\u9879\u76ee\u7533\u8bf7\u5217\u8868\r","description":"","operationId":"xmSqLists\r","produces":["application\/json"],"parameters":[{"name":"status","in":"query","required":true,"description":"\u9879\u76ee\u72b6\u6001\uff1a[0\u5e26\u5339\u914d1\u53d6\u6d882\u5f85\u4ed8\u6b3e3\u5f85\u9a8c\u65364\u5b8c\u6210]\r\n     ","type":"integer"},{"name":"tousu","in":"query","required":true,"description":"\u662f\u5426\u6295\u8bc9\uff1a[0\u9ed8\u8ba41\u662f]\uff0cstatus\u548ctousu\u53ea\u80fd\u5b58\u5728\u4e00\u4e2a\r\n     ","type":"integer"},{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"xmAdd\r":[],"\/apis\/xiangmu\/xmAdd\r":{"post":{"tags":["xiangmu"],"summary":"\u9879\u76ee\u53d1\u5e03\u3001\u7f16\u8f91\r","description":"","operationId":"xmAdd\r","produces":["application\/json"],"parameters":[{"name":"title","in":"formData","required":true,"description":"\u9879\u76ee\u540d\u79f0\r\n     ","type":"string"},{"name":"leixing","in":"formData","required":true,"description":"\u9879\u76ee\u7c7b\u578b[1:\u56fe\u7eb8\u4f1a\u5ba1,2:\u5de5\u7a0b\u9020\u4ef7,3:\u65b9\u6848\u63aa\u65bd,4:\u8d44\u6599\u5185\u9875,5:\u5408\u540c\u67e5\u8be2]\r\n     ","type":"integer"},{"name":"zhuanye","in":"formData","required":true,"description":"\u4e13\u4e1a\u7c7b\u578b[1:\u571f\u6728\u5de5\u7a0b,2:\u56ed\u6797\u6280\u672f,3:\u8f68\u9053\u4ea4\u901a,4:\u673a\u68b0\u81ea\u52a8\u5316,5:\u6c7d\u8f66\u7ef4\u4fee]\r\n     ","type":"integer"},{"name":"mianji","in":"formData","required":true,"description":"\u9879\u76ee\u9762\u79ef\r\n     ","type":"integer"},{"name":"salary","in":"formData","required":true,"description":"\u85aa\u916c\r\n     ","type":"integer"},{"name":"pro_code","in":"formData","required":true,"description":"\u7701\u4efdcode\r\n     ","type":"integer"},{"name":"city_code","in":"formData","required":true,"description":"\u5730\u5e02code\r\n     ","type":"integer"},{"name":"area_code","in":"formData","required":true,"description":"\u5730\u533acode\r\n     ","type":"integer"},{"name":"file","in":"formData","required":true,"description":"\u9879\u76ee\u6587\u4ef6\u5730\u5740\r\n     ","type":"string"},{"name":"match_type","in":"formData","required":true,"description":"\u9879\u76ee\u5339\u914d\u7c7b\u578b[1:\u65f6\u95f42:\u4eba\u6570]\r\n     ","type":"integer"},{"name":"match_value","in":"formData","required":true,"description":"\u9879\u76ee\u5339\u914d\u6570\u503c\r\n     ","type":"integer"},{"name":"email","in":"formData","required":true,"description":"\u9879\u76ee\u90ae\u7bb1\u5730\u5740\r\n     ","type":"string"},{"name":"mobile","in":"formData","required":true,"description":"\u8054\u7cfb\u7535\u8bdd\r\n     ","type":"string"},{"name":"remark","in":"formData","required":true,"description":"\u9879\u76ee\u5907\u6ce8\r\n     ","type":"string"},{"name":"fuyong","in":"formData","required":true,"description":"\u9879\u76ee\u662f\u5426\u590d\u7528[1:\u662f,0:\u5426]\r\n     ","type":"integer"}]}},"zhuanye\r":[],"\/apis\/xiangmu\/zhuanye\r":{"get":{"tags":["xiangmu"],"summary":"\u83b7\u53d6\u9879\u76ee\u4e13\u4e1a\r","description":"","operationId":"zhuanye\r","produces":["application\/json"],"parameters":[]}},"xmCgx\r":[],"\/apis\/xiangmu\/xmCgx\r":{"get":{"tags":["xiangmu"],"summary":"\u9879\u76ee\u590d\u7528\u7bb1\u3001\u8349\u7a3f\u7bb1\r","description":"","operationId":"xmCgx\r","produces":["application\/json"],"parameters":[{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"xmCgxDetail\r":[],"\/apis\/xiangmu\/xmCgxDetail\r":{"get":{"tags":["xiangmu"],"summary":"\u9879\u76ee\u8349\u7a3f\u7bb1\u8be6\u60c5\r","description":"","operationId":"xmCgxDetail\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u8349\u7a3f\u7bb1ID\r\n     ","type":"integer"}]}},"xmDelCgx\r":[],"\/apis\/xiangmu\/xmDelCgx\r":{"get":{"tags":["xiangmu"],"summary":"\u5220\u9664\u8349\u7a3f\u7bb1\r","description":"","operationId":"xmDelCgx\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u8349\u7a3f\u7bb1ID\r\n     ","type":"integer"}]}},"banner\r":[],"\/apis\/xitong\/banner\r":{"get":{"tags":["xitong"],"summary":"\u83b7\u53d6banner\u56fe\r","description":"","operationId":"banner\r","produces":["application\/json"],"parameters":[{"name":"module","in":"query","required":true,"description":"\u6a21\u5757ID\uff1a[0\u9ed8\u8ba41\u9879\u76ee2\u5b66\u58023\u6750\u65994\u5de5\u4f5c5\u9996\u9875]\r\n     ","type":"integer"}]}},"toutiao\r":[],"\/apis\/xitong\/toutiao\r":{"get":{"tags":["xitong"],"summary":"\u83b7\u53d6\u5934\u6761\u8d44\u8baf\uff0c\u9ed8\u8ba4\u6700\u65b05\u6761\r","description":"","operationId":"toutiao\r","produces":["application\/json"],"parameters":[]}},"indexList\r":[],"\/apis\/xitong\/indexList\r":{"get":{"tags":["xitong"],"summary":"\u83b7\u53d6\u9996\u9875\u5217\u8868\u4fe1\u606f\r","description":"","operationId":"indexList\r","produces":["application\/json"],"parameters":[{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"\/apis\/xuetang\/lists\r":{"get":{"tags":["xuetang"],"summary":"\u83b7\u53d6\u5b66\u6821\u5217\u8868\r","description":"","operationId":"lists\r","produces":["application\/json"],"parameters":[{"name":"pageSize","in":"query","required":true,"description":"\u6bcf\u9875\u663e\u793a\u6570\u91cf[\u9009\u586b]\uff0c\u9ed8\u8ba410\r\n     ","type":"integer"},{"name":"page","in":"query","required":true,"description":"\u5206\u9875\u9875\u7801[\u9009\u586b]\r\n     ","type":"integer"}]}},"xtDetails\r":[],"\/apis\/xuetang\/xtDetails\r":{"get":{"tags":["xuetang"],"summary":"\u83b7\u53d6\u5b66\u6821\u8be6\u60c5\r","description":"","operationId":"xtDetails\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u5b66\u6821ID\r\n     ","type":"integer"},{"name":"uid","in":"query","required":true,"description":"\u5b66\u6821\u7684UID\r\n     ","type":"integer"}]}},"ktDetails\r":[],"\/apis\/xuetang\/ktDetails\r":{"get":{"tags":["xuetang"],"summary":"\u83b7\u53d6\u8bfe\u5802\u8be6\u60c5\r","description":"","operationId":"ktDetails\r","produces":["application\/json"],"parameters":[{"name":"id","in":"query","required":true,"description":"\u8bfe\u5802ID\r\n     ","type":"integer"}]}},"\/apis\/xuetang\/renzheng\r":{"post":{"tags":["xuetang"],"summary":"\u5b66\u6821\u8ba4\u8bc1\r","description":"","operationId":"renzheng\r","produces":["application\/json"],"parameters":[{"name":"company_name","in":"formData","required":true,"description":"\u516c\u53f8\u59d3\u540d\r\n     ","type":"string"},{"name":"contact","in":"formData","required":true,"description":"\u8054\u7cfb\u7535\u8bdd\r\n     ","type":"string"},{"name":"legal_person","in":"formData","required":true,"description":"\u6cd5\u4eba\u59d3\u540d\r\n     ","type":"string"},{"name":"qq_email","in":"formData","required":true,"description":"QQ\u90ae\u7bb1\r\n     ","type":"string"},{"name":"idcard_front","in":"formData","required":true,"description":"\u8eab\u4efd\u8bc1\u6b63\u9762\u7167\r\n     ","type":"string"},{"name":"idcard_back","in":"formData","required":true,"description":"\u8eab\u4efd\u8bc1\u53cd\u9762\u7167\r\n     ","type":"string"},{"name":"license","in":"formData","required":true,"description":"\u8425\u4e1a\u6267\u7167\r\n     ","type":"string"}]}}},"securityDefinitions":[],"definitions":[]}