<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="/style/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/style/css/style.css"/>
    <link href="/style/css/iconfont.css" rel="stylesheet"/>
    <title></title>
    <style type="text/css">
        html,
        body {
            background: #f7f7f7;
        }

        img:not([src]),
        img[src=""] {
            opacity: 0;
            border-color: #fff;
        }
    </style>
</head>

<body style="">
<div class="header_counter" style="padding-top: 0;margin-top: 0;">
    <div class="text_center">
        <div class="center_top">
            {$note.note}
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
</body>

</html>