{include file="common:head"}
<div class="v_bd"><!--v_bd-->
    <div class='bd'>
        <div class="v_tishi">
            <div style='float:left;margin-top:8px;'>点击左侧按钮添加新的奖品。</div>
            <p style='float:right;margin-top:4px;'>
                <a href="{:url('add')}?nav=添加" class="btn btn-success">添加</a>
            </p>
            <div style='clear:both;'></div>
        </div>
         <?php
            if(!$res){
        ?>
        <div class="none_list">暂未添加任何奖品</div>
        <?php
            }else{
        ?>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table">
            <tr class="h">
                <td valign="middle">ID</td>
                <td>奖品类型</td>
                <td>奖品名字</td>
                <td>奖品</td>
                <td>图片</td>
                <td>操作</td>
            </tr>
            {volist name="res" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>
                    {if condition="$vo.type eq 1"}
                    物品
                    {elseif condition="$vo.type eq 2"}
                    能量币
                    {elseif condition="$vo.type eq 3"}
                    会员券
                    {else}
                    优惠券
                    {/if}
                </td>
                <td>{$vo.name}</td>
                <td>{$vo.max_price}{$vo.min_price}</td>
                <td><img src="/public_html{$vo.img}" style="width:50px;"></td>
                <td>
                    <a href="{:url('edit')}?id={$vo.id}&nav=编辑" class="btn btn-primary">编辑</a>
                    <a href="javascript:;" class="btn btn-danger" onclick="del('{$vo.id}');">删除</a>
                </td>
            </tr>
            {/volist}
        </table>
        <?php } ?>
    </div>
</div>
{include file="common:foot"}

<script>
    function del(id){
        if (!confirm('此操作不能撤销，确定要删除吗')){
            return false;
        }
        $.ajax({
            url: "{:url('bank_del')}",
            data: "id=" + id,
            type: 'post',
            success: function (ret) {
                if (ret.code == 1) {
                    tishi('success', ret.msg, window.location.href)
                }else{
                    tishi('error',ret.msg);
                }
            }
        })
    }
</script>
