{include file="common:head"}
<style>
    .msg-div {
        float: left;
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: #ccc;
    }

    .self {
        float: right;
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: #1e96f3;
        color: #fff;
        text-align: right;
    }
</style>
<style>
    *, *:before, *:after {
        box-sizing: border-box;
    }

    body, html {
        height: 100%;
        overflow: hidden;
    }

    body, ul {
        margin: 0;
        padding: 0;
    }

    body {
        color: #4d4d4d;
        font: 14px/1.4em 'Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial, sans-serif;
        background: #f5f5f5 url('dist/images/bg.jpg') no-repeat center;
        background-size: cover;
        font-smoothing: antialiased;
    }

    ul {
        list-style: none;
    }

    #chat {
        margin: 20px auto;
        width: 800px;
        height: 600px;
    }
</style>
<style type="text/css">
    #chat {
        overflow: hidden;
        border-radius: 3px
    }

    #chat .main, #chat .sidebar {
        height: 100%
    }

    #chat .sidebar {
        float: left;
        width: 200px;
        color: #f4f4f4;
        background-color: #2e3238
    }

    #chat .main {
        position: relative;
        overflow: hidden;
        background-color: #eee
    }

    #chat .m-text {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0
    }

    #chat .m-text .send-btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
        background-color: #2b669a;
        border-radius: 4px;
        padding: 3px 13px;
        color: #fff;
        cursor: pointer;
    }

    #chat .m-message {
        height: calc(100% - 10pc)
    }

    .m-card {
        padding: 9pt;
        border-bottom: 1px solid #24272c
    }

    .m-card footer {
        margin-top: 10px
    }

    .m-card .avatar,
    .m-card .name {
        vertical-align: middle
    }

    .m-card .avatar {
        border-radius: 2px
    }

    .m-card .name {
        display: inline-block;
        margin: 0 0 0 15px;
        font-size: 1pc
    }

    .m-card .search {
        padding: 0 10px;
        width: 100%;
        font-size: 9pt;
        color: #fff;
        height: 30px;
        line-height: 30px;
        border: 1px solid #3a3a3a;
        border-radius: 4px;
        outline: 0;
        background-color: #26292e
    }

    .m-list li {
        padding: 9pt 15px;
        border-bottom: 1px solid #292c33;
        cursor: pointer;
        -webkit-transition: background-color .1s;
        transition: background-color .1s;
        position: relative;
    }

    .m-list li:hover {
        background-color: hsla(0, 0%, 100%, .03)
    }

    .m-list li.active {
        background-color: hsla(0, 0%, 100%, .1)
    }

    .m-list li.active i {
        display: inline-block !important;
        position: absolute;
        top: 18px;
        right: 10px;
    }

    .m-list .avatar,
    .m-list .name {
        vertical-align: middle
    }

    .m-list .avatar {
        border-radius: 2px
    }

    .m-list .name {
        display: inline-block;
        margin: 0 0 0 15px
    }

    .m-text {
        height: 10pc;
        border-top: 1px solid #ddd
    }

    .m-text textarea {
        padding: 10px;
        height: 100%;
        width: 100%;
        border: none;
        outline: 0;
        font-family: Micrsofot Yahei;
        resize: none
    }

    .m-message {
        padding: 10px 15px;
        overflow-y: scroll
    }

    .m-message li {
        margin-bottom: 15px;
        overflow: hidden;
    }

    .m-message .time {
        margin: 7px 0;
        text-align: center
    }

    .m-message .time > span {
        display: inline-block;
        padding: 0 18px;
        font-size: 9pt;
        color: #fff;
        border-radius: 2px;
        background-color: #dcdcdc
    }

    .m-message .avatar {
        float: left;
        margin: 0 10px 0 0;
        border-radius: 3px
    }

    .m-message .text {
        display: inline-block;
        position: relative;
        padding: 0 10px;
        max-width: calc(100% - 40px);
        min-height: 30px;
        line-height: 2.5;
        font-size: 9pt;
        text-align: left;
        word-break: break-all;
        background-color: #fafafa;
        border-radius: 4px
    }

    .m-message .text:before {
        content: " ";
        position: absolute;
        top: 9px;
        right: 100%;
        border: 6px solid transparent;
        border-right-color: #fafafa
    }

    .m-message .self {
        text-align: right
    }

    .m-message .self .avatar {
        float: right;
        margin: 0 0 0 10px
    }

    .m-message .self .text {
        background-color: #b2e281
    }

    .m-message .self .text:before {
        right: inherit;
        left: 100%;
        border-right-color: transparent;
        border-left-color: #b2e281
    }
</style>
{empty name="recentContacts"}
暂无消息记录
{else/}
<div id="chat">
    <div class="sidebar">
        <!--v-component-->
        <div class="m-list">
            <ul>
                {volist name="recentContacts" id="rc"}
                <li id="li_{$rc.uid}" {if condition="$key eq 0" }class="active" {
                /if} data-uid="{$rc.uid}" data-avatar="{$rc.avatar}">
                <img class="avatar" width="30" height="30" alt="" src="{$rc.avatar}">
                <p class="name">{$rc.nickname}</p>
                <i class="iconfont" style="display: none;">&#xe7b7;</i>
                </li>
                {/volist}
            </ul>
        </div>
        <!--v-component-->
    </div>
    <div class="main">
        <div class="m-message" id="chat-msg-box">
            {if condition="$recentContacts"}
            <p style="text-align: center;font-size: 12px;padding: 3px 0;cursor: pointer;"
               data-uid="{$recentContacts[0]['uid']}" data-page="1" class="load-more">查看更多消息</p>
            {/if}

            <ul id="ul_chat">
                <!--v-for-start-->
                {volist name="chatList" id="cl"}
                {if condition="$cl.from_uid eq $user.uid"}
                <li>
                    {if condition="$cl.show_time"}
                    <p class="time"><span>{$cl.sendtime}</span></p>
                    {/if}
                    <div class="main self">
                        <img class="avatar" width="30" height="30" src="{$my_avatar}">
                        <div class="text">{$cl.content}</div>
                    </div>
                </li>
                {else/}
                <li>
                    {if condition="$cl.show_time"}
                    <p class="time">
                        <span>{$cl.sendtime}</span>
                    </p>
                    {/if}
                    <div class="main">
                        <img class="avatar" width="30" height="30" src="{$other_avatar}">
                        <div class="text">{$cl.content}</div>
                    </div>
                </li>
                {/if}

                {/volist}
            </ul>
        </div>
        <!--v-component-->
        <div class="m-text">
            <textarea class="send-text" placeholder=""></textarea>
            <span class="send-btn">发送</span>
        </div>
        <!--v-component-->
    </div>
</div>
{/empty}
{include file="common:foot"}

<script>
    var userId = "{$user.uid}";
    var my_avatar = "{$my_avatar}";
    var ws = new WebSocket("ws://192.168.0.152:8283");
    console.log(ws);

    ws.onopen = function () {
        _sayContent = '{"type":"bind","uid":' + userId + '}';
        ws.send(_sayContent);
    };

    ws.onmessage = function (evt) {
        var received_msg = evt.data;
        var data = JSON.parse(received_msg);
        console.log(data);
        if (data.type == 'say' && data.self == 0) {
            var _id = data.from_uid;
            if ($('.m-list li.active').data('uid') == _id) {
                var _avatar = $('.m-list li.active').data('avatar');
                appendMsgToDom(received_msg, _avatar, 'after');
            } else {
                if ($('#li_' + _id).length <= 0) {
                    $.ajax({
                        url: "{:url('admin/message/getAvatar')}",
                        type: 'post',
                        dataType: 'json',
                        data: {uid: _id},
                        success: function (ret) {
                            var _li = '<li id="li_' + _id + '" data-uid="' + _id + '"' + 'data-avatar="'+ret.avatar+'">' +
                                '<img class="avatar" width="30" height="30" alt="" src="'+ret.avatar+'">' +
                                '<p class="name">'+ret.nickname+'</p>' +
                                '<i class="iconfont" style="display: none;">&#xe7b7;</i>' +
                                '</li>';
                            $('.m-list ul').append(_li);
                        }
                    });

                }
            }
        }
    };
    //每隔25秒发送心跳数据
    setInterval("sendHeartData()", 25000);

    function sendHeartData() {
        _heartData = {
            data: 'heart' + "\n"
        };
        ws.send(_heartData);
        // console.log('heart');
    }
</script>
<script>

    //点击叉号删除聊天对象
    $(document).on('click', '.m-list ul li > i', function () {
        var index = $(this).parents('li').index();
        var other_uid = $(this).parents('li').data('uid');
        var _eq;
        if (index == 0) {
            _eq = 1;
        } else {
            _eq = index - 1;
        }
        $(this).parents('ul').find('li').eq(_eq).addClass('active');
        $(this).parents('li').remove();
        $.ajax({
            url: "{:url('admin/message/delHistory')}",
            type: 'post',
            dataType: 'json',
            data: {other_uid: other_uid},
            success: function (ret) {
                console.log(JSON.stringify(ret));
            }
        });
    })
    $(document).on('click', '.m-list ul li', function () {
        $('#ul_chat').html('');
        var _uid = $(this).data('uid');
        var _avatar = $(this).data('avatar');
        $(this).addClass('active').siblings().removeClass('active');
        $('.load-more').data('uid', _uid);
        $('.load-more').data('page', '1');
        $.ajax({
            url: "{:url('admin/message/chatContent')}",
            data: {tid: _uid},
            type: 'post',
            success: function (ret) {
                $.each(ret.data.data, function (i, v) {
                    appendMsgToDom(JSON.stringify(v), _avatar, 'before');
                })
            }
        })
    });
    $(document).on('click', '.send-btn', function () {
        var content = $('.send-text').val();
        var to_uid = $('.m-list ul li.active').data('uid');
        var _avatar = $('.m-list ul li.active').data('avatar');
        var ele = document.getElementById('chat-msg-box');
        _sayContent = '{"type":"say","from_uid":"' + userId + '","to_uid":' + to_uid + ',"msg_type":1,"content":"' + content + '"}\n';
        ws.send(_sayContent);
        $('.send-text').val('');
        appendMsgToDom(_sayContent, _avatar, 'after');

        ele.scrollTop = ele.scrollHeight;
        /*var _div = '<div class="msg-div self">'+content+'</div>';
        $('#msg_box').append(_div);*/
    })

    //更新聊天内容
    function appendMsgToDom(data, avatar, position) {
        _data = JSON.parse(data);
        if (_data.from_uid == userId) {
            _selfClass = 'self';
            avatarUrl = my_avatar;
        } else {
            _selfClass = '';
            avatarUrl = avatar;
        }
        if (_data.msg_type == 1) {
            _message = '<span>' + _data.content + '</span>';
        } else if (_data.msg_type == 2) {
            _message = '<span class="photo-liaotian"><img src="' + iapi + _data.content + '"></span>';
        } else if (_data.msg_type == 3) {
            _message = '<span>该聊天格式暂不支持在浏览器查看</span>';
        }

        if (_data.show_time) {
            _showTimeHtml = '<p class="time"><span>' + _data.sendtime + '</span><p>';
        } else {
            _showTimeHtml = '';
        }
        var _li = '<li>' +
            _showTimeHtml +
            '<div class="main ' + _selfClass + '">' +
            '<img class="avatar" width="30" height="30" src="' + avatarUrl + '">' +
            '<div class="text">' + _message + '</div>' +
            '</div>' +
            ' </li>';
        if (position == 'after') {
            $('#ul_chat').append(_li);
        } else if (position == 'before') {
            $('#ul_chat').prepend(_li);
        }
    }

    //加载更多消息
    $(document).on('click', '.load-more', function () {
        var uid = $(this).data('uid');
        var page = $(this).data('page');
        var _avatar = $('.m-list ul li.active').data('avatar');
        page += 1;
        console.log(page);
        $.ajax({
            url: "{:url('admin/message/chatContent')}",
            type: 'post',
            dataType: 'json',
            data: {tid: uid, page: page},
            success: function (ret) {
                console.log(JSON.stringify(ret));
                if (ret.code == 0) {
                    $('.load-more').data('page', ret.data.current_page);
                    $.each(ret.data.data, function (i, v) {
                        appendMsgToDom(JSON.stringify(v), _avatar, 'before');
                    })

                }
            }

        });

    })
</script>
