{include file="common:head"}
<div class="v_bd">
    <div class="v_bd_tag">
        <a href="{:url('index')}"><span class="focus">全部订单({$num})</span></a>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>分状态查看：
            <div class="select_style">
                <select id="status" name="status" onChange="lookCate(this)" style='height:28.5px;line-height:28.5px;'>
                    <option value="">全部用户</option>
                    {if condition = "input('status') eq 1"}
                    <option value="1" selected="selected">待付款</option>
                    {else/}
                    <option value="1">待付款</option>
                    {/if}
                    {if condition = "input('status') eq 2"}
                    <option value="2" selected="selected">待发货</option>
                    {else/}
                    <option value="2">待发货</option>
                    {/if}
                    {if condition = "input('status') eq 3"}
                    <option value="3" selected="selected">待收货</option>
                    {else/}
                    <option value="3">待收货</option>
                    {/if}
                    {if condition = "input('status') eq 4"}
                    <option value="4" selected="selected">已完成</option>
                    {else/}
                    <option value="4">已完成</option>
                    {/if}
                    {if condition = "input('status') eq 6"}
                    <option value="6" selected="selected">退款审核中</option>
                    {else/}
                    <option value="6">退款审核中</option>
                    {/if}
                    {if condition = "input('status') eq 8"}
                    <option value="8" selected="selected">退款审核通过</option>
                    {else/}
                    <option value="8">退款审核通过</option>
                    {/if}
                    {if condition = "input('status') eq 9"}
                    <option value="9" selected="selected">已退款</option>
                    {else/}
                    <option value="9">已退款</option>
                    {/if}
                </select>
            </div>
        </span>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>订单搜索：
            <input name="email" id="name" class="edit_input" value="{:input('key')}" type="text"/>
            <a href="javascript:;" onClick="searchs();" class="btn btn-success">提交</a>
            <i class="huise"> (请输入订单号)</i>
        </span>
    </div>
    <br/>

    <div class="bd">
        <?php
            if(!$list){
        ?>
        <div class="none_list">暂无订单</div>
        <?php
            }else{
        ?>
        <table width="100%" border="0" cellpadding="0" class="table" cellspacing="0">
            <tr class="h">
                <td>ID</td>
                <td>订单编号</td>
                <td>姓名</td>
                <td>电话</td>
                <td>地址</td>
                <td>支付金额</td>
                <td>下单时间</td>
                <td>支付方式</td>
                <td>订单状态</td>
                <td>操作</td>
            </tr>
            {volist name="list" id="vo"}
            <tr id="item{$vo.id}">
                <td>{$vo.id}</td>
                <td>{$vo.order_sn}</td>
                <td>{$vo.u_name}</td>
                <td>{$vo.u_mobile}</td>
                <td>{$vo.u_addr}</td>
                <td>{$vo.new_price}</td>
                <td>{$vo.dateline}</td>
                <td>{if condition="$vo.pay_status eq 1"}余额{elseif condition="$vo.pay_status eq 2"}支付宝{else}微信{/if}</td>
                <td>
                {if condition="$vo.is_delete eq 1"}
                    {if condition="$vo.status eq 1"}待付款
                    {elseif condition="$vo.status eq 2"}待发货
                    {elseif condition="$vo.status eq 3"}待收货
                    {elseif condition="$vo.status eq 4"}已完成
                    {elseif condition="$vo.status eq 6"}退款审核中
                    {elseif condition="$vo.status eq 7"}退款审核不通过
                    {elseif condition="$vo.status eq 8"}退款审核通过
                    {elseif condition="$vo.status eq 9"}已退款
                    {/if}
                {elseif condition="$vo.is_delete eq 2"}
                已取消(原因:{$vo.reason})
                {/if}
                </td>
                <td>
                    <a href="javascript:;" onClick="del({$vo.id})" class="btn btn-danger">删除</a>
                    <a href="{:url('order/look')}?id={$vo.id}&nav=订单详情" class="btn btn-success">订单详情</a>
                    {if condition="($vo.status == 6) OR ($vo.status==7) OR ($vo.status==8) OR ($vo.status==9)"}
                    <a href="{:url('order/tk_xq')}?id={$vo.id}&nav=退款详情" class="btn btn-success">退款详情</a>
                    {/if}
                </td>
            </tr>
            {/volist}
        </table>
        <div class="page">{$page}</div>
        <?php } ?>
    </div>
</div>
{include file="common:foot"}
<script>
    function lookCate(obj) {
        var val = obj.value;
        window.location.href = '{:url("index")}?key={:input("key")}&status=' + val;
    }

    function del(id){
        var r = confirm("您确定要删除该用户吗？");
        if (!r) {
            return false;
        }
        var url = '{:url("delete")}?id=' + id;
        $.ajax({
            url: url,
            success: function (txt){
                if (txt.code == 0){
                   tishi('success', txt.msg, '{:url("index")}');
                } else {
                   tishi('error', txt.msg);
                }
            }
        })
    }
    function status(id, status){
        var data = 'id=' + id + '&status=' + status;
        var url = '{:url("status")}';
        $.ajax({
            url: url,
            data: data,
            type: 'POST',
            success: function (data) {
                if (data.code == 0) {
                   tishi('success', txt.msg, '{:url("index")}');
                } else {
                    tishi('error', txt.msg);
                }
            }
        });
    }
    function searchs() {
        var val = $("#name").val();
        if(!val){
            return alert("请输入订单号");
        }
        window.location.href = '{:url("index")}?key=' + val + '&status={:input("status")}';
    }
</script>
