{include file="common:head"}
<div class="v_bd">
    <div class="v_bd_tag">
        <a href="{:url('index')}"><span class="focus">全部用户({$num})</span></a>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>会员搜索：
			<input name="email" id="name" class="edit_input" value="{:input('key')}" type="text"/>
			<a href="javascript:;" onClick="searchs();" class="btn btn-success">提交</a>
            <i class="huise"> ( 输入用户手机号 ) </i>
		</span>

        <p style='float:right;margin-top:4px;'>
            <a href="{:url('add',['nav'=>'添加用户'])}" class="btn btn-success">添加用户</a>
        </p>
    </div>
    <br/>

    <div class="bd">
        <?php
			if(!$list){
		?>
        <div class="none_list">没有任何会员</div>
        <?php
			}else{
		?>
        <table width="100%" border="0" cellpadding="0" class="table" cellspacing="0">
            <tr class="h">
                <td width="5%"><input name="" class="chk_all" type="checkbox" value="" />全选 </td>
                <td width="12%">用户</td>
                <td width="9%">电话号码</td>
                <td width="4%">性别</td>
                <td width="30%">所在地</td>
                <td width="5%">押金余额</td>
                <td width="10%">注册时间</td>
                <td width="5%">状态</td>
                <td width="15%">操作</td>
            </tr>
            {volist name="list" id="vo"}
            <tr id="item{$vo.id}">
                <td><input name="chk_list"   type="checkbox" value="{$vo.id}" /> </td>
                <td><img src="{$vo.headimg}" style="height: 50px;width: 60px" alt="">{$vo.nicheng}</td>
                <td>{$vo.phone}</td>
                <td>{$vo.sex==1?'男':'女'}</td>
                <td>{$vo.address}</td>
                <td width="10%"><input type="text"  value="{$vo.yue}" style="width:80px; height:25px;" /><a href="javascript:;" data-id="{$vo.id}" class="v_btn baocun">保存</a></td>
                <td>{$vo.datetime}</td>
                <td>
                    {$vo.qiyong==1?'正常':'禁用'}
                </td>
                <td>
                    {if condition = '$vo.qiyong eq 1'}
                    <a href="javascript:;" onClick="status('{$vo.id}',-1)" class="v_btn">禁用</a>
                    {else/}
                    <a href="javascript:;" onClick="status('{$vo.id}',1)" class="v_btn">启用</a>
                    {/if}
                    <a href="{:url('user/edit')}?uid={$vo.id}&nav=编辑用户信息" class="v_btn">编辑</a>
                     <a  href="javascript:;" class="v_btn" onclick="onexinxi_del({$vo['id']});">删除</a>
                </td>
            </tr>
            {/volist}
       
               
        <?php } ?>
         <tr class="h">
        <td><input name="" class="chk_all" type="checkbox" value="" />全选 </td>
        <td colspan='7'>
        选中项 :
        <a class="v_btn" href="javascript:;" onclick="xinxi_del();">删除</a>
        </td>
        <td align="right" colspan='1'>{$page}</td>
        </tr>
         </table>
    </div>
</div>
{include file="common:foot"}
<script>
    $(".chk_all").click(function(){
    if(!$(this).attr("checked")){
        $("input[name='chk_list']").removeAttr("checked");
    }else{
     $("input[name='chk_list']").attr("checked",$(this).attr("checked"));
     }
});
    function lookCate(obj) {
        var val = obj.value;
        window.location.href = '{:url("index")}?key={:input("key")}&qiyong=' + val;
    }

    //余额保存
    $('.baocun').click(function(){
        var id=$(this).attr('data-id');
            var yue=$(this).prev().val();
        var url='{:url("updata_yue")}?id='+id+'&yue='+yue;
 
        $.ajax({
            url:url,
            success:function(txt){
                if(txt.code==1){
                    alert(txt.msg)
                   // window.location.href=window.location.href;
                }else{
                    alert(txt.msg)
                }
            }
        })
    })
    //删除
    function onexinxi_del(id){
        if(!confirm("确定要删除这条信息吗？")){
        return false;
    }
    var url="{:url("xinxi_del")}";
    $.ajax({
        url:url,
        data:"id="+id,
        type:'post',
        success:function(txt){
          alert(txt.msg);
            if(txt.ret==1){
                window.location.href=window.location.href
            }
        }
    })
    }
    //多选删除
    function xinxi_del() {
        if (!confirm("此操作不能撤销，确定要删除选中项吗？")) {
            return false;
        }

        var arrChk = $("input[name='chk_list']:checked");
        var val = '';
        for (var i = 0; i < arrChk.length; i++) {
            val = val + "," + arrChk[i].value;
        }
        if (val == '') {
            alert("请选择需要操作的信息")
            return false;
        }
        var url = "{:url('xinxi_del')}";
        $.ajax({
            url: url,
            data: "id=" + val,
            type: 'post',
            success: function (txt) {
                alert(txt.msg);
                if (txt.ret == 1) {
                    window.location.href = window.location.href;
                }
            }
        })
    }
    function searchs() {
        var val = $("#name").val();
        if (val.replace(/ /g, '') == "") {
            return alert("请输入正确用户手机号");
        }
        window.location.href = '{:url("index")}?key=' + val + '&qiyong={:input("qiyong")}';
    }

    function status(uid, status) {
        var data = 'id=' + uid + '&status=' + status;
        var url = '{:url("status")}';
        $.ajax({
            url: url,
            data: data,
            type: 'POST',
            success: function (data) {
                if (data.code == 0) {
                    alert(data.msg);
                    window.location.href = window.location.href;
                } else {
                    alert(data.msg);
                }
            }
        });
    }
   

</script>
