<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
    <link href="/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="/css/iconfont.css" rel="stylesheet"/>
    <style type="text/css">
        body,
        .xiangqing_content {
            background: #fff;
        }

        .mui-bar-nav ~ .mui-content {
            padding-bottom: 50px;
        }

        .mui-scroll.dongtai ul li {
            border-bottom: 0;
        }

        .vip {
            float: left;
            background: url(../img/vip.png) no-repeat;
            background-size: 20px;
            width: 20px;
            height: 20px;
        }

        .vip0 {
            float: left;
            background: url(../img/vip_1.png) no-repeat;
            background-size: 20px;
            width: 20px;
            height: 20px;
        }
    </style>
</head>

<body>
<!--头 -->
<!--<header class=" mui-bar mui-bar-nav ">-->
<!--<a class="mui-action-back mui-icon mui-pull-left logo"><i class="iconfont icon-back"></i></a>-->
<!--<h1 class="mui-title">详情</h1>-->
<!--</header>-->

<div class="mui-content xiangqing_content mui-scroll dongtai faxian">
    <!--<div class="mui-scroll dongtai faxian">-->
    <ul id="content">
        <li>
            <!--<div class="index_list_name">-->
                    <!--<span>-->
							<!--<img src="../img/head.png"/>-->
						<!--</span>-->
                    <!--<span>-->
							<!--<p class="name">-->
                                <!--<m>申晨溯</m>-->
                                <!--<i class="iconfont icon-nan"></i></p>-->
							<!--<p class="vip_box">-->
                                <!--<m class="vip_bj "></m>-->
                                <!--<b>黄金会员</b></p>-->
						<!--</span>-->
                <!--<span class="iconfont icon-mintui-more" id="fenxiang"></span>-->
            <!--</div>-->
            <!--<div class="index_list_con">-->
                <!--<p class="intro_content more_h">-->
                    <!--不需要晚多久，就再过那么几年，那时我们有稳定的收入，靠谱的工作，所有的一切步入正轨、我不再是一个追梦的漂浮的女生，而是一个只寻求安稳生活的女人，你不再是一个青涩的毛头小伙子，而是一个成熟的男人。-->
                    <!--到那个时候，我们在相爱、 如果，我们可以晚一些相遇。 不需要多久，就在过那么几年，那时候我们已经学会了知足学会了包容和珍惜，而你也真的能从容的面对那些不追逐你的异性、 到那时候，那时候我们在相爱、-->
                <!--</p>-->

                <!--<div class="more">全文</div>-->
            <!--</div>-->
            <!--<div class="index_list_photo">-->
                    <!--<span>-->
							<!--<img src="../img/sp01.png"/>-->
						<!--</span>-->
                    <!--<span>-->
							<!--<img src="../img/sp01.png"/>-->
						<!--</span>-->
            <!--</div>-->
            <!--<div class="index_list_time">-->
                    <!--<span>-->
							<!--<p>1小时前</p>-->
							<!--<p>64转发</p>-->
						<!--</span>-->
                    <!--<span>-->
							<!--<p><i class="iconfont icon-zan"></i>287</p>-->
							<!--<p id="pl"><i class="iconfont icon-xiaoxi"></i>99</p>-->
						<!--</span>-->
            <!--</div>-->
            <!--<div class="index_list_zan">
                    <span>
                        <i class="iconfont icon-xin"></i>
                        <p>jmin、乱世王者</p>
                    </span>
                    <span>
                        <p><m>jmin:</m><m>通过花瓣Chrome扩展采集 </m></p>
                    </span>
                </div>-->
        </li>
    </ul>

    <!--</div>-->
    <div class="pinglun">
        <h1 id="feedbackNum"></h1>
        <ul id="flist">
            <!--<li>-->
                <!--<div class="head_box mui-pull-left">-->
                    <!--<img class="" src="../img/head.png">-->
                <!--</div>-->
                <!--<div class="right mui-pull-left">-->
                    <!--<div class="nick"><span>ddd</span><em class="iconfont icon-nan"></em> <i-->
                            <!--class="iconfont icon-huiyuan"></i></div>-->
                    <!--<div class="time">5分钟前</div>-->
                    <!--<div class="pinglun_text">-->
                        <!--<p class='text'>-->
                            <!--能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>-->

                        <!--<p class="jinbi">-->
                            <!--<img src="../img/jinbi.png"/>-->
                            <!--<m class="shuzhi">0</m>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="head_box mui-pull-left">-->
                    <!--<img class="" src="../img/head.png">-->
                <!--</div>-->
                <!--<div class="right mui-pull-left">-->
                    <!--<div class="nick"><span>ddd</span><em class="iconfont icon-nan"></em> <i-->
                            <!--class="iconfont icon-huiyuan"></i></div>-->
                    <!--<div class="time">2018-03-16</div>-->
                    <!--<div class="pinglun_text">-->
                        <!--<p class='text'>-->
                            <!--能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>-->

                        <!--<p class="jinbi">-->
                            <!--<img src="../img/jinbi.png"/>-->
                            <!--<m class="shuzhi">0</m>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
        </ul>

    </div>

</div>
<!--<div class="xiaoxi" id="msgfeedback">-->
<!--<input type="text" name="" value="" placeholder="评论" /> <span>发送</span>-->
<!--</div>-->
<!--分享-->
<div class="liwu_bj fenxiang_bj">
    <div class="liwu_bottom">
        <div class="fenxiang_box">
            <ul>
                <li>
                    <i class="iconfont icon-iconfontzhizuobiaozhunbduan36"></i>

                    <p>朋友圈</p>
                </li>
                <li>
                    <i class="iconfont icon-weixin2"></i>

                    <p>微信</p>
                </li>
                <li>
                    <i class="iconfont icon-qq1"></i>

                    <p>QQ</p>
                </li>
                <li>
                    <i class="iconfont icon-haoyou"></i>

                    <p>好友/群组</p>
                </li>
            </ul>
        </div>
        <button class="zengsong">取消</button>
    </div>
</div>
<div class="zzc_bj"></div>
{load href="/static/manage/js/jquery-1.8.1.min.js" /}
{load href="/static/manage/js/jquery.form.js" /}
<script type="text/javascript">
    iapi = 'http://weizaixian.niurenjianzhan.com/';
    getData();
//    setTap();


    function getData() {
        $.ajax({
            url: '{:url("/apis/news/one")}',
            data: 'nid={:input("nid")}',
            success: function (ret) {
                console.log(JSON.stringify(ret));
                if (ret.code == 0) {
                    v = ret.data;
                    html = '<li id="' + v.id + '">' +
                            '<div class="index_list_name">' +
                            '<span>' +
                            '<img src="' + iapi + v.headimg + '"/>' +
                            '</span>' +
                            '<span>' +
                            '<p class="name"><m>' + (v.nick ? v.nick : '未设置昵称') + '</m><i class="iconfont ' + (v.sex != 1 ? 'icon-nv' : 'icon-nan') + '"></i></p>' +
//                            '<p class="vip_box"><m class="' + (v.vip > 0 ? 'vip_bj' : 'vip0') + '"></m><b>' + (v.vip > 0 ? 'V' + v.vip : '') + v.title + '</b></p>' +
                            '</span>' +
                            '<span class="iconfont icon-mintui-more"></span>' +
                            '</div>' +
                            '<div class="index_list_con">';
                    var maxheight = 80;
                    if (v.content.length > maxheight) {
                        show = v.content.substring(0, maxheight);
                        hide = v.content.substring(maxheight);
                        html += '<p class="intro_content more_h">' + show + '<i>...</i><span class="hide" style="display:none;">' + hide + '</span></p>';
                        html += '<div class="more">展开全文</div>';
                    } else {
                        html += '<p class="intro_content more_h">' + v.content + '</p>';
                    }

                    html += '</div>' +
                            '<div class="index_list_photo">';
                    $.each(v, function (ik, iv) {
                        if (ik.indexOf('img') > -1 && ik != 'headimg' && iv) {
                            html += '<span><img src="' + iapi + iv + '"/></span>';
                        }
                    });
                    html += '</div>' +
                            '<div class="index_list_time">' +
                            '<span>' +
                            '<p>' + GetDateDiff(v.datetime) + '</p>' +
                            '<p>' + (v.forward ? v.forward + '转发' : '') + '</p>' +
                            '</span>' +
                            '<span>' +
                            '<p class="nice"><i class="iconfont icon-zan"></i>' + v.nice + '</p>' +
                            '<p class="feedback"><i class="iconfont icon-xiaoxi"></i>' + v.feedback + '</p>' +
                            '</span>' +
                            '</div>' +
                            '<div class="index_list_zan">' +
                            '<span>';
                    nicelist = [];
                    $.each(v.nicelist, function (nk, nv) {
                        nicelist.push(nv.nick);
                    });
                    if (nicelist) {
                        html += '<i class="iconfont icon-xin"></i><p>' + nicelist.join(',') + '</p>';
                    }
                    html += '</span>';
                    html += '<span>';
                    html += '</span>';
                    '</div>' +
                    '</li>';
                    $('#content').html(html);
                    $('#feedbackNum').html('评论（' + v.feedback + '）');
                    $('#flist').html('');
                    $.each(v.feedbacklist, function (fk, fv) {
                        feedbackhtml = '<li>' +
                                '<div class="head_box mui-pull-left">' +
                                '<img class="" src="' + iapi + fv.headimg + '">' +
                                '</div>' +
                                '<div class="right mui-pull-left">' +
                                '<div class="nick"><span> ' + (fv.nick ? fv.nick : ' 未设置昵称') + '</span><em class="iconfont ' + (fv.sex != 1 ? 'icon-nv' : 'icon-nan') + '"></em>' +
//                                ' <m class="' + (fv.vip > 0 ? 'vip' : 'vip0') + '"> </m> ' +
                                '</div>' +
                                '<div class="time">' + GetDateDiff(fv.datetime) + '</div>' +
                                '<div class="pinglun_text">' +
                                '<p class="text">' + fv.content + '</p>' +
                                '<p class="jinbi">' +
//                                '<img src="../img/jinbi.png" />' +
//                                '<m class="shuzhi">0</m>' +
                                '</p>' +
                                '</div>' +
                                '</div>' +
                                '</li>';
                        $('#flist').append(feedbackhtml);
                    });

                    $('.nice').click( function () {
//                        var id = $(this).parents('li').attr('id');
//                        nice(id);
//                        return false;
                    });
                    $('.icon-mintui-more').click( function () {
//                        $('.fenxiang_bj').toggle();
//                        $('.zzc_bj').toggle()
                    });
                    $('.feedback').click( function () {
                        // nid = $(this).parents('li').attr('id');
                        // $('.pinglu_bj').toggle()
                        // $('.zzc_bj').toggle()
                    });
                    $('.zzc_bj').click( function () {
//                        $('.fenxiang_bj').hide()
//                        $('.pinglu_bj').hide()
//                        $('.zzc_bj').hide()
                    })
                }
            }
        });
    }

    function GetDateDiff(datetime) {
        var date = new Date(datetime.replace(/\-/g, "/"));
        var nowTime = new Date().getTime();
        var res = Math.abs(parseInt((date.getTime() - nowTime) / 1000));
        if (res < 60) {
            return ' 刚刚 ';
        }
        if (res < 60 * 60) {
            return Math.floor(res / 60) + '分钟前';
        }
        if (res < 60 * 60 * 24) {
            return Math.floor(res / 60 / 60) + '小时前';
        }
        if (res < 60 * 60 * 24 * 30) {
            return Math.floor(res / 60 / 60 / 24) + '天前';
        }
        return datetime.split(' ')[0];
    }

    function feedback(nid, content, gift) {
        $.ajax({
            url: apis + 'news/feedback',
            data: 'nid=' + nid + '&content=' + content + '&gift=' + gift,
            success: function (ret) {
                if (ret.code < 0)
                    console.log(JSON.stringify(ret));
                if (ret.code > 0) {
                    api.toast({
                        msg: ret.msg,
                        duration: 2000,
                        location: 'bottom'
                    });
                } else {
                    $('#msgfeedback input').val('');
                    getData();
                }
            }
        });
    }

    function nice(id) {
        $.ajax({
            url: apis + 'news/nice',
            data: 'nid=' + id,
            success: function (ret) {
                if (ret.code < 0)
                    console.log(JSON.stringify(ret));
                if (ret.code > 0)
                    api.toast({
                        msg: ret.msg,
                        duration: 2000,
                        location: 'bottom'
                    });
                else
                    getData();
            }
        });
    }

    function setTap() {
        $('#msgfeedback span').on('tap', function () {
            var content = $('#msgfeedback input').val();
            // gift = $('#glist .active').attr('id');
            feedback(nid, content, 0);
            return false;
        });
    }

//    $(function () {
//        var content = $(".more_h").html();
//        var more = true;
//        //限制字符个数
//        var hide = function () {
//            $(".more_h").each(function () {
//                var maxheight = 80;
//                if ($(this).text().length > maxheight) {
//                    $(this).text($(this).text().substring(0, maxheight));
//                    $(this).html($(this).html() + '...');
//                    more = true;
//                    $('.more').html("全文");
//                } else {
//                    $('.more').hide();
//                }
//            });
//        };
//        hide();
//        $('.more').click(function () {
//            if (more) {
//                $(".more_h").html(content);
//                $(this).html("收起文章");
//                more = false;
//            } else {
//                hide();
//            }
//        });
//    })
</script>
</body>

</html>
