{include file="common/head" /}
<div class="v_bd"><!--v_bd-->
	
	<div class="v_bd_tag">
		<?php
			if(!input("t")){
		?>
		<a style='margin-top:4px;' href="{:url('index?t=nochild')}" class="btn v_btn">关闭子菜单</a>
		<?php
			}else{
		?>
		<a style='margin-top:4px;' href="{:url('index')}" class="btn v_btn">打开子菜单</a>
		<?php } ?>

		<p style='float:right;margin-top:4px;'>
			<a href="{:url('add')}" class="btn btn-success">添加菜单</a>
		</p>
	</div>

	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table">
			  <tr class="h">
				<td width="60" valign="middle"><input name="" class="chk_all" type="checkbox" value="" />全选</td>
				<td>菜单名</td>
				<td>控制器</td>
				<td>方法</td>
				<td>排序</td>
				<td>图标</td>
				<td>操作</td>
			  </tr>
			  {volist name="list" id="vo"}
			  <tr>
				<td><input name="chk_list" type="checkbox" value="{$vo.id}" /></td>
				<td><b>{$vo.name}</b></td>
				<td>{$vo.m}</td>
				<td>{$vo.a}</td>
				<td>
					<a href="javascript:;" onclick="paixu({$vo.id},'up')"><img src="__STATIC__/manage/images/up.png" /></a>	
					<a href="javascript:;" onclick="paixu({$vo.id},'down')"><img src="__STATIC__/manage/images/down.png" /></a>
				</td>
				<td>{$vo.icon}</td>
				<td><a href="{:url("edit?id=$vo[id]&nav=编辑菜单")}" class="btn btn-success">编辑</a></td>
			  </tr>
			  	<?php
					if(!input("t")){
				?>
			  	
			    {volist name="vo['item']" id="vo2"}
				  <tr class="child">
					<td><input name="chk_list" type="checkbox" value="{$vo2.id}" /></td>
					<td>┠ {$vo2.name}</td>
					<td>{$vo2.m}</td>
					<td>{$vo2.a}</td>
					<td>
						<a href="javascript:;" onclick="paixu({$vo2.id},'up')"><img src="__STATIC__/manage/images/up.png" /></a>	
						<a href="javascript:;" onclick="paixu({$vo2.id},'down')"><img src="__STATIC__/manage/images/down.png" /></a>
					</td>
					<td>{$vo2.icon}</td>
					<td><a href="{:url("edit?id=$vo2[id]&nav=编辑菜单")}" class="btn btn-success">编辑</a></td>
				  </tr>
				{/volist}
				<?php } ?>
			  {/volist}
			  <tr class="f">
				<td><input name="" class="chk_all" type="checkbox" value="" />全选 </td>
			    <td>
					选中项 :
					<a href="javascript:;" class="btn btn-danger" onclick="del();" >删除</a> 
					<a href="javascript:;" class="btn btn-success" onclick="qiyong();" >启用</a> 
					<a href="javascript:;" class="btn btn-danger" onclick="jinyong();" >禁用</a>				
				</td>
			    <td colspan="5"></td>
			  </tr>
			</table>
	 
</div><!--v_bd-->	 
{include file="common/foot" /}

<script>
$(".chk_all").click(function(){
	if(!$(this).attr("checked")){
		$("input[name='chk_list']").removeAttr("checked");
	}else{
     $("input[name='chk_list']").attr("checked",$(this).attr("checked"));
	 }
});



function del(){
if(!confirm("确定要删除选中项吗？")){
	return false;
}
var arrChk=$("input[name='chk_list']:checked");
var val='';
    for (var i=0;i<arrChk.length;i++)
    {
         val=val+","+arrChk[i].value;
    }
	if(val==''){
		alert("请选择需要操作的信息")
		return false;
	}
	var url="{:url("del")}";
		$.ajax({
				 url:url,
				 data:"id="+val,
				 type:'post',
					success:function(txt){
						tishi('success',txt.msg,window.location.href)
					 }
					
		})
}
function jinyong(){
	if(!confirm("确定要选中项禁用吗？")){
	return false;
}
var arrChk=$("input[name='chk_list']:checked");
var val='';
    for (var i=0;i<arrChk.length;i++)
    {
         val=val+","+arrChk[i].value;
    }
	if(val==''){
		alert("请选择需要操作的信息")
		return false;
	}
	var url="{:url("jinyong")}";
		$.ajax({
				 url:url,
				 data:"id="+val,
				 type:'post',
					success:function(txt){
						tishi('success',txt.msg,window.location.href)

					 }
					
		})
}
function qiyong(){
	if(!confirm("确定要选中项启用吗？")){
	return false;
}
var arrChk=$("input[name='chk_list']:checked");
var val='';
    for (var i=0;i<arrChk.length;i++)
    {
         val=val+","+arrChk[i].value;
    }
	if(val==''){
		alert("请选择需要操作的信息")
		return false;
	}
	var url="{:url("qiyong")}";
		$.ajax({
				 url:url,
				 data:"id="+val,
				 type:'post',
					success:function(txt){
						tishi('success',txt.msg,window.location.href)

					 }
					
		})
}

function paixu(id,type){
	var url="{:url("paixu")}";
	$.ajax({
		url:url,
		data:"id="+id+"&type="+type,
		success:function(txt){
			if(txt.code==1){
				window.location.href=window.location.href
			}
		
		}
	
	})

}

</script>