{include file="common/head" /}
<div class="v_bd"><!--v_bd-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table">
        <tr class="h">
            <td width="60" valign="middle"><input name="" class="chk_all" type="checkbox" value=""/>全选</td>
            <td>角色名</td>
            <td>添加日期</td>
            <td>操作</td>
        </tr>
        {volist name="list" id="vo"}
        <tr>
            <td><input name="chk_list" type="checkbox" value="{$vo.id}"/></td>
            <td><b>{$vo.name}</b></td>

            <td>{$vo.date}</td>
            <td>
                <a href="{:url('quanxian')}?id={$vo.id}&nav=权限管理" class="btn btn-success">权限管理</a>
                <a href="{:url('cat_edit')}?id={$vo.id}&nav=编辑角色" class="btn btn-success">编辑角色</a>
            </td>
        </tr>
        {/volist}
        <tr class="f">
            <td><input name="" class="chk_all" type="checkbox" value=""/>全选</td>
            <td>
                选中项 :
                <a href="javascript:;" class="btn btn-danger" onclick="del();">删除</a>
            </td>
            <td colspan="3">{$page}</td>
        </tr>
    </table>

</div><!--v_bd-->
{include file="common/foot" /}

<script>
    $(".chk_all").click(function () {
        if (!$(this).attr("checked")) {
            $("input[name='chk_list']").removeAttr("checked");
        } else {
            $("input[name='chk_list']").attr("checked", $(this).attr("checked"));
        }
    });
    function del() {
        if (!confirm("确定要删除选中项吗？")) {
            return false;
        }
        var arrChk = $("input[name='chk_list']:checked");
        var val = '';
        for (var i = 0; i < arrChk.length; i++) {
            val = val + "," + arrChk[i].value;
        }
        if (val == '') {
            alert("请选择需要操作的信息");
            return false;
        }
        var url = "{:url('del_cat')}";
        $.ajax({
            url: url,
            data: "id=" + val,
            type: 'post',
            success: function (txt) {
                tishi('success', txt.msg, window.location.href)
            }

        })
    }

</script>