{include file="common:head"}
<div class="v_bd" id="v_bd">
	<div class="v_bd_tag"><span class="focus">全部审核申请({$num})</span>
		<span>审核搜索：
			<input name="email" id="name" name="name" class="edit_input" value="{:input("name")}" type="text" />
			<a href="javascript:;" onClick="searchs();" class="btn btn-success">提交</a> <i class="huise"> ( 输入加盟商名称 ) </i>
		</span>
	</div><br />
	<div class="bd">
		<?php
			if(!$list){
		?>
			<div class="none_list">没有任何申请</div>
		<?php
			}else{
		?>
			<table width="100%" border="0" cellpadding="0"  class="table" cellspacing="0">
				<tr class="h">	 
					<td>用户</td>
					<td>支付宝账号</td>
					<td>金额</td>
					<td>申请内容</td>
			 		 
					<td>申请时间</td>
					<td>操作</td>
				</tr>
				{volist name="list" id="vo"}
					<tr id="item{$vo.id}" class="reds">
				 		<td>{$vo.nicheng}</td>
				 		<td>{$vo.account}</td>						 		
				 		 <td>{$vo.money}</td>							 
						<td>{$vo.reason}</td>								 	 
						<td>
							{$vo.createtime}
						</td>
						<td width="15%">
							{if condition="$vo['status'] eq 0"}
								<a href="javascript:;" onClick="tixian_do({$vo.id},1)" class="v_btn">通过</a>
								<a href="javascript:;" onClick="tixian_do({$vo.id},'-1')" class="v_btn">拒绝</a>
							{elseif condition="$vo['status'] eq 1"}
								<a href="javascript:;"  class="btn btn-success">已通过</a>
 								<a href="javascript:;" onClick="tixian_do({$vo.id},'-1')" class="v_btn">拒绝</a>
							{elseif if condition="$vo['status'] eq '-1'"}
								<a href="javascript:;" onClick="tixian_do({$vo.id},1)" class="v_btn">通过</a>
								<a href="javascript:;"  class="btn btn-success">已拒绝</a>
							 
							{/if}
							 
						</td>

					</tr>
				{/volist}
				<tr class="f">
		            <td colspan="13">{$page}</td>
        		</tr>
			</table>
		<?php } ?>
	</div>
</div>
{include file="common:foot"}
<script>
 
function searchs(){
	var name=$("#name").val();
	var url='{:url("index")}?name='+name;
	window.location.href=url;
}
function tixian_do(uid,status){
	var data='id='+uid+'&status='+status;
	var url='{:url("tixian_do")}';
	$.ajax({
		url:url,
		data:data,
		type:'POST',
		success: function(data){
			if(data.code==1){
				tishi('success',data.msg,window.location.href);
			}else{
				alert(data.msg);
			}
		}
	})
}
 
 
</script>
