{include file="common:head"}
<div class="v_bd"><!--v_bd-->
    <div class='bd'>
        <div class="v_tishi">
            <div style='float:left;margin-top:8px;'>此处银行卡用于银行卡绑定选择，添加新的银行卡。</div>
            <p style='float:right;margin-top:4px;'>
                <a href="{:url('bank_add')}?nav=添加" class="btn btn-success">添加</a>
            </p>
            <div style='clear:both;'></div>
        </div>
         <?php
            if(!$find){
        ?>
        <div class="none_list">暂未添加任何银行</div>
        <?php
            }else{
        ?>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table">
            <tr class="h">
                <td valign="middle">ID</td>
                <td>银行卡</td>
                <td>操作</td>
            </tr>
            {volist name="find" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.bank_name}</td>
                <td>
                    <a href="{:url('bank_edit')}?id={$vo.id}&nav=编辑" class="btn btn-primary">编辑</a>
                    <a href="javascript:;" class="btn btn-danger" onclick="del('{$vo.id}');">删除</a>
                </td>
            </tr>
            {/volist}
        </table>
        <?php } ?>
    </div>
</div>
{include file="common:foot"}

<script>
    function del(id){
        if (!confirm('此操作不能撤销，确定要删除吗')){
            return false;
        }
        $.ajax({
            url: "{:url('bank_del')}",
            data: "id=" + id,
            type: 'post',
            success: function (ret) {
                if (ret.code == 1) {
                    tishi('success', ret.msg, window.location.href)
                }else{
                    tishi('error',ret.msg);
                }
            }
        })
    }
</script>
