{include file="common:head"}
<div class="v_bd"><!--v_bd-->
    <form action="{:url('link_save')}" method="post" id="form">        
        <div class="item">
            <label>标题：</label>

            <div class="i_bd">
                <input name="title" id="title" class="edit_input" type="text" size="40"/>
            </div>
        </div>
         <div class="item">
            <label>联系方式：</label>

            <div class="i_bd">
                <input name="content" id="content" class="edit_input" type="text" size="40"/>
            </div>
        </div>
        <div class="item">
            <label></label>
            <div class="i_bd">
                <input name="submit" type="button" class="btn btn-success" id="form_btn" value="提交"/>
            </div>
        </div>
    </form>
</div><!--v_bd-->
{include file="common:foot"}
<script>
       $(function (){
        $("#form_btn").click(function(){
            var title=$('#title').val();
            if(!title){
                tishi('error','标题不能为空');
                return false; 
            }
             var content=$('#content').val();
            if(!content){
                tishi('error','联系方式不能为空');
                return false; 
            }
            $("#form").ajaxSubmit(function (txt){
                if (txt.code == 1) {
                    tishi('success', txt.msg, '{:url("link")}');

                } else {
                    tishi('error', txt.msg);
                }
            });
        })
    });
</script>